<h1><%= title @title %></h1>

<% if @case_studies.length > 0 %>
<br />
  <% for case_study in @case_studies %>
    <%= render "case_studies/case_study", :case_study => case_study %>
  <% end %>
  
  <%= will_paginate @case_studies %>
  
<% else %>
 <p>No case studies to display.</p>
<% end %>

<% content_for :right do  %>
    <%= render :partial => "tags" %>
<% end %>
