<h2>For an Equity Release</span></h2>
<hr />

<h3>BANNER JONES LTD STANDARD CHARGES</h3>
<p>
  Legal Fees in connection with your Equity Release  <span><%= number_to_pounds @cq.fixed_fee %></span>
</p>

<hr />

<p>
  CHARGES FOR Equity Release:	<span><%= number_to_pounds @cq.subtotal %></span><br />
  VAT:	<span><%= number_to_pounds @cq.vat %></span><br />
  TOTAL:	<span><%= number_to_pounds @cq.total %></span><br />
  <br />
  Dependent on the lender.  Any additional charges will be confirmed by the conveyancer dealing with your case.
</p>

<hr />

<h4>Residential Surveys</h4>
<p>
Do you know enough about the property you are buying?<br />
We highly recommend that you instruct a survey on the property and we can help you with this.<br />
Through our panel of qualified, insured surveyors we can arrange for you to have a Homebuyers Report completed, which will inform you of any defects in the property. There are other surveys e.g. a Full Structural Survey available if you wish.<br />
In the event that you decide not to have a survey carried out, please be aware that you do so at your own risk. Banner Jones Ltd is not responsible in any way for the condition of the building, its foundation or ground stability.<br />
Please beware that a valuation Survey carried out by a Building Society or a Bank it is not carried for your benefit and can not be relied upon by you. They are limited in scope to the value of the property and not its condition.<br />
For further information please call us on 01246 560 560 and we will be more than happy to discuss it with you.
</p>
