<% hide_leasehold ||= false %>
<% hide_search ||= false %>

<h3>SUPPLEMENTAL FEES</h3>
<% unless hide_search %>
<h4>Searches</h4>
<p>
  They range in cost depending on the geographical area you are buying in. We recommend that you obtain a Platinum Search pack which includes Local Authority search, Water & Drainage Search, Mining Search, Environmental Search, together with a Chancel Repair Indemnity Insurance, We will discuss this with you before incurring any cost.
</p>
<% end %>

<% unless hide_leasehold %>
<h4>Leasehold</h4>
<p>
If the property you are buying or selling is leasehold, we make a charge to cover the additional communications between landlord or their agent and any requirements of the lease<br />
<% for type in types %>
On your <%= type %> &pound;50.00 plus vat<br />
<% end %>
</p>
<% end %>

<h4>Unregistered Title</h4>
<p>
Since 1975 all properties have to be registered with the Government Land Registry in England and Wales when they are bought and sold. If the property you are buying or selling has not been registered, and ownership must be proved by Title Deeds we make a charge to cover the additional work involved.<br />
<% for type in types %>
On your <%= type %> &pound;50.00 plus vat<br />
<% end %>
</p>

<h4>Shared Ownership</h4>
<p>
If the property you are buying or selling is held under a Shared Ownership Scheme, we make a charge to cover the additional communications between the Housing Association and their solicitor.<br />
<% for type in types %>
On your <%= type %> &pound;100.00 plus vat<br />
<% end %>
</p>

<h4>Transfer of Equity</h4>
<p>
Final document transferring the former joint home ownership into single sole ownership where the title is/is to be registered at the Land Registry Office. £300.00 plus vat 
</p>

<h4>Council Right to Buy Scheme</h4>
<p>
For associated work in dealing with Tenants 'right to buy' their home scheme from their local authority at a discount. &pound;350.00 plus vat 
</p>

<h4>Residential Surveys</h4>
<p>
Do you know enough about the property you are buying?<br />
We highly recommend that you instruct a survey on the property and we can help you with this.<br />
Through our panel of qualified, insured surveyors we can arrange for you to have a Homebuyers Report completed, which will inform you of any defects in the property. There are other surveys e.g. a Full Structural Survey available if you wish.<br />
In the event that you decide not to have a survey carried out, please be aware that you do so at your own risk. Banner Jones Ltd is not responsible in any way for the condition of the building, its foundation or ground stability.<br />
Please beware that a valuation Survey carried out by a Building Society or a Bank it is not carried for your benefit and can not be relied upon by you. They are limited in scope to the value of the property and not its condition.<br />
For further information please call us on 01246 560 560 and we will be more than happy to discuss it with you.
</p>
