<div>
  <% if team_member.image? %>
    <%= link_to image_tag(team_member.image.url(:index_page)), team_member %>
  <% else %>
  	<%= link_to image_tag("team_list_example.jpg"), team_member %>
  <% end %>
  <p>
    <%= link_to h(team_member.name), team_member %><br />
    <span><%=h team_member.role %></span>
  </p>
</div>
