<h1><%= title "Videos" %></h1>

<div class="video_list">

	<% for video in @videos %>
    <div>
      <%= link_to image_tag(video.thumbnail_url, :width => 208), video %>
      <p><%= link_to video.name, video %></p>
    </div>
  <% end %>

</div>

<%= will_paginate @videos %>
