	<h1><%= title @video.name %></h1>
  <br />
    <%= @video.embed_code %>
	<br />
  <br />
    <%= @video.summary %>
<hr />
  
  <p class="more" align="right"><%= link_to "See All Videos", videos_path, {:class=>"medium"} %></p>
  


    

