<fieldset id="type_fields">
<legend>Sale</legend>  
<p>
  <%= label_tag "conveyancing_quote[sale_amount]", "Sale price" %><br />
  <%= text_field_tag "conveyancing_quote[sale_amount]" %>
</p>
</fieldset>
