<% hide_left %>
<% hide_right %>

<h1><%= title("Disclaimer") %></h1>

<p>The information contained on this website is based on English Law and although Banner Jones Solicitors endeavours to ensure that the content is accurate and upto date, it gives no representation or warranty either express or implied as to the accuracy or completeness of this information and therefore the information on this website should not be relied upon.  Users of this website should seek appropriate legal advice from a suitably qualified legal adviser before taking or refraining from taking any action.  The content of this website should not be construed as legal or other professional advice and Banner Jones Solicitors disclaims liability for any loss, howsoever caused, arising directly or indirectly from reliance on the information contained in this website.</p>
