<% hide_left %>
<% hide_right %>

<h1><%= title("Privacy Policy") %></h1>

<p>Banner Jones Solicitors respect the right of privacy of all persons visiting this website and this privacy statement sets out the information which Banner Jones Solicitors may collect and retain and how that information may be used.</p>
<p>Any detail which you provide to us via this website may be added to our database.  This database is used by Banner Jones Solicitors for administration and marketing related purposes.  As a result we may from time to time send you publications or materials which we feel may be of interest to you and/or are relevant to your business.  Such information may include details of our products and services, news letters, legal updates and materials such as invitations to training seminars or events.</p>
<p>For the avoidance of doubt we do not, save as above sell or disclose your contact details to any other third party.</p>
<p>In the event that you would like to see the information which we hold about you or would like to be removed from our mailing lists then please contact us at <a href="mailto:info@bannerjones.co.uk">info@bannerjones.co.uk</a>
<p>In order to assist us in keeping our database upto date then we should be pleased if you would kindly let us know as soon as any of your contact details change or if you notice any inaccuracies in them.</p>
<p>Any information supplied to us via this website will be used only in accordance with the Data Protection Act 2000.</p>
<p>This privacy policy does not apply to websites accessible via hyperlinks contained in this website.</p>
