<% hide_left %>
<% hide_right %>


<div class="twelve columns">
<h1><%= title("Disclaimer") %></h1>

<p>The information contained on this website is based on English Law and although Banner Jones Ltd endeavours to ensure that the content is accurate and up-to-date, it gives no representation or warranty either express or implied as to the accuracy or completeness of this information and therefore the information on this website should not be relied upon. Users of this website should seek appropriate legal advice from a suitably qualified legal adviser before taking or refraining from taking any action.</p>

<p>The questions and answers on this site or those provided to you in answer to any question raised are provided for information purposes only and are not intended as and should not be considered as legal advice for your particular matter.  No client relationship is created between you and Banner Jones Ltd.  The opinions expressed are the opinions of the individual author and not necessarily those of Banner Jones Ltd.  Please contact us for specific advice on 01246 560 560.</p>


</div>