<div class="row">

<nav class="sections top-nav-mobile show-for-small">

  <ul class="top-level">
    <h2><%#= link_to main_page_node.navigation_title, url_for(page_node.path) %></h2>
    <%= link_to image_tag("mobile-logo.png", :alt => SiteSetting.find_by_name("Site Name").try(:value), :title => SiteSetting.find_by_name("Site Name").try(:value), :border => "0", :hspace => "0", :vspace => "0"), {:controller => 'web', :action => 'index'}, :class => "mobile-logo" %>
    <li class="arrow"><a href="#" title="Toggle more details" onclick="navToggle('wealth-you-dropdown');return false;">You</a></li>
    <li class="arrow"><a href="#" title="Toggle more details" onclick="navToggle('wealth-business-dropdown');return false;">Business</a></li>
  </ul>

  <section id="wealth-business-dropdown" class="hide-nav">
    <ul class="section-2-left">
      <% for page_node in PageNode.active.position.roots.navigation %>
        <% if [197].include?(page_node.id) %>
          <% children = PageNode.children(page_node.id).active.navigation.position %>
            <% for child in children %>
              <li><%= link_to child.navigation_title, url_for(child.path) %></li>
            <% end %>
        <% end %>
      <% end %>
    </ul>
  </section>

  <section id="wealth-you-dropdown" class="hide-nav">
    <ul class="section-2-left">
      <% for page_node in PageNode.active.position.roots.navigation %>
        <% if [196].include?(page_node.id) %>
          <% children = PageNode.children(page_node.id).active.navigation.position %>
            <% for child in children %>
              <li><%= link_to child.navigation_title, url_for(child.path) %></li>
            <% end %>
        <% end %>
      <% end %>
    </ul>
  </section>

  <section id="more-dropdown" class="hide-nav">
    <ul class="section-2-left">
      <% for page_node in PageNode.active.position.roots.navigation %>
        <% unless [20, 21].include?(page_node.id) %>
          <% children = PageNode.children(page_node.id).active.navigation.position %>
            <li><%= link_to page_node.navigation_title, url_for(page_node.path) %></li>
        <% end %>
      <% end %>
    </ul>
  </section>
</nav>

</div>