<% title "Case Studies" %>

<p><%= link_to "New Case Study", new_admin_case_study_path %></p>
 
<% form_for @search do |f| %>
  <p>
    <%= f.text_field :name_or_summary_or_main_content_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= admin_table({:columns => [
  "name", 
  ["Summary", lambda{|x| (x.summary.length > 50) ? "#{x.summary[0..50]}..." : x.summary }, "summary"]],
  :list => @case_studies, :images => true}, "admin/shared/admin_table_sort") %>
