<fieldset id="type_fields">
<legend>Sale and Purchase</legend>  
<p>
  <%= label_tag "conveyancing_quote[sale_amount]", "Sale amount" %><br />
  <%= text_field_tag "conveyancing_quote[sale_amount]" %>
</p>

<p>
  <%= label_tag "conveyancing_quote[purchase_amount]", "Purchase amount" %><br />
  <%= text_field_tag "conveyancing_quote[purchase_amount]" %>
</p>
</fieldset>
