<% title "Events" %>

<p><%= link_to "New Event", new_admin_event_path %></p>
 
<% form_for @search do |f| %>
  <p>
    <%= f.text_field :name_or_summary_or_main_content_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= admin_table({:columns => [
  "name", 
  ["Summary", lambda{|x| (x.summary.length > 50) ? "#{x.summary[0..50]}..." : x.summary }, "summary"],
  "start_date",
  "end_date"
  ], :list => @events, :images => true}) %>
