<% hide_left %>
<% hide_right %>

<h1><%= title("Privacy Policy") %></h1>

<p>Banner Jones Solicitors respect the right of privacy of all persons visiting this website and this privacy statement sets out the information which Banner Jones Solicitors may collect and retain and how that information may be used.</p>
<p>Any detail which you provide to us via this website may be added to our database.  This database is used by Banner Jones Solicitors for administration and marketing related purposes.  As a result we may from time to time send you publications or materials which we feel may be of interest to you and/or are relevant to your business.  Such information may include details of our products and services, news letters, legal updates and materials such as invitations to training seminars or events.</p>
<p>For the avoidance of doubt we do not, save as above sell or disclose your contact details to any other third party.</p>
<p>In the event that you would like to see the information which we hold about you or would like to be removed from our mailing lists then please contact us at <a href="mailto:info@bannerjones.co.uk">info@bannerjones.co.uk</a>
<p>In order to assist us in keeping our database upto date then we should be pleased if you would kindly let us know as soon as any of your contact details change or if you notice any inaccuracies in them.</p>
<p>Any information supplied to us via this website will be used only in accordance with the Data Protection Act 2000.</p>
<p>This privacy policy does not apply to websites accessible via hyperlinks contained in this website.</p>


<h2>Cookies</h2>
<p>A cookie is a small text file of information that is stored on your hard drive when you visit certain websites and pages. Cookies typically contain the name of the server the cookie was set by and how long it will be stored. We use cookies to collect information for our website analytics.</p>
<p>Please note that cookies don't store personally identifiable information such as credit card details, names or telephone numbers. They also cannot harm your computer or device and the information stored in cookies is encrypted. You can learn more about cookies <a href="http://www.aboutcookies.org/default.aspx?page=5">here</a>.</p>
<p>Third party vendors, such as Google, may set cookies on our website to be used for remarketing purposes. This can be used to serve ads to you online based on your interests and previous interactions with the site. None of these cookies store personally identifiable information about you.</p>
<p>You can opt out of these types of cookies <a href="https://www.google.co.uk/settings/ads">here</a>. </p>
