<% title "Home Highlights" %>


<p>
  <%= link_to "Back", :action => "index_home" %>
   | 
  <%= link_to "New Home Highlight", new_admin_home_highlight_path %>
</p>

<p class="admin_note">
  Home highlights appear on the home page of the website in the top banner. If you have multiple home highlights the homepage will fade from one banner to the next in the order they are positioned in on this page.
</p>

 
<%= eskimo_table({:columns => ["headline"], :list => @home_highlights, :manual_sorting => true, :images => true}) %>
