<fieldset id="type_fields">
<legend>Purchase</legend>  
<p>
  <%= label_tag "conveyancing_quote[purchase_amount]", "Purchase amount" %><br />
  <%= text_field_tag "conveyancing_quote[purchase_amount]" %>
</p>
</fieldset>
