<fieldset id="type_fields">
<legend>Remortgage with Transfer of Equity</legend>  
<p>
  <%= label_tag "conveyancing_quote[remortgage_amount]", "Remortgage amount" %><br /><br />
  <%= text_field_tag "conveyancing_quote[remortgage_amount]" %>
</p>

<p>
  <%= label_tag "conveyancing_quote[equity_amount]", "Transfer of equity amount" %><br /><br />
  <%= text_field_tag "conveyancing_quote[equity_amount]" %>
</p>
</fieldset>
