<fieldset id="type_fields">
<legend>Remortgage Only</legend>  
<p>
  <%= label_tag "conveyancing_quote[remortgage_amount]", "Remortgage amount" %><br /><br />
  <%= text_field_tag "conveyancing_quote[remortgage_amount]" %>
</p>
</fieldset>
